@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Encode Sans Thin'), local('EncodeSans-Thin'), url(https://fonts.gstatic.com/s/encodesans/v4/LDI0apOFNxEwR-Bd1O9uYPvISeXukw.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Encode Sans ExtraLight'), local('EncodeSans-ExtraLight'), url(https://fonts.gstatic.com/s/encodesans/v4/LDIrapOFNxEwR-Bd1O9uYPtkWPLJs7o.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Encode Sans Light'), local('EncodeSans-Light'), url(https://fonts.gstatic.com/s/encodesans/v4/LDIrapOFNxEwR-Bd1O9uYPsAW_LJs7o.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Encode Sans Regular'), local('EncodeSans-Regular'), url(https://fonts.gstatic.com/s/encodesans/v4/LDI2apOFNxEwR-Bd1O9uYPOreeI.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Encode Sans Medium'), local('EncodeSans-Medium'), url(https://fonts.gstatic.com/s/encodesans/v4/LDIrapOFNxEwR-Bd1O9uYPtYWvLJs7o.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Encode Sans SemiBold'), local('EncodeSans-SemiBold'), url(https://fonts.gstatic.com/s/encodesans/v4/LDIrapOFNxEwR-Bd1O9uYPt0XfLJs7o.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Encode Sans Bold'), local('EncodeSans-Bold'), url(https://fonts.gstatic.com/s/encodesans/v4/LDIrapOFNxEwR-Bd1O9uYPsQXPLJs7o.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Encode Sans ExtraBold'), local('EncodeSans-ExtraBold'), url(https://fonts.gstatic.com/s/encodesans/v4/LDIrapOFNxEwR-Bd1O9uYPsMX_LJs7o.ttf) format('truetype');
}
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Encode Sans Black'), local('EncodeSans-Black'), url(https://fonts.gstatic.com/s/encodesans/v4/LDIrapOFNxEwR-Bd1O9uYPsoXvLJs7o.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEzAdKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUOjIg1_i6t8kCHKm459WxZqh7k29Y.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gnD-w.ttf) format('truetype');
}
html,
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
label {
  font-family: 'Roboto', sans-serif;
}
p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none !important;
}
.prelative.container {
  max-width: 1300px;
}
.prelative.container.cont-header {
  max-width: inherit;
  padding-left: 30px;
  padding-right: 30px;
}
.prelative.container.box-about {
  max-width: 920px;
}
.prelative.container2 {
  max-width: inherit;
  padding-left: 30px;
  padding-right: 30px;
}
section.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
section.header .prelative.container-header.header-tops {
  background: url('../images/header-top_01.jpg');
  height: 45px;
  max-width: 1920px;
}
section.header .prelative.container-header.header-tops .content {
  margin-left: auto;
}
section.header .prelative.container-header.header-tops .content .box-telp {
  display: inline-block;
  top: -20px;
  position: relative;
}
section.header .prelative.container-header.header-tops .content .box-telp p a {
  font-size: 10px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 1px;
}
section.header .prelative.container-header.header-tops .content .box-telp p a img {
  padding-left: 20px;
  padding-right: 5px;
}
section.header .prelative.container-header.header-tops .content .hr-header {
  margin: 0 20px;
  display: inline-block;
  width: 1px;
  height: 45px;
  background: #000000;
}
section.header .prelative.container-header.header-tops .content .bahasa {
  display: inline-block;
  top: -20px;
  position: relative;
}
section.header .prelative.container-header.header-tops .content .bahasa p {
  font-size: 10px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 1px;
}
section.header .prelative.container-header.header-tops .content .bahasa p a {
  font-size: 10px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 1px;
}
section.header .prelative.container-header.header-tops .content .bahasa p a span {
  font-size: 10px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 1px;
}
section.header .header-bottom {
  padding-top: 20px;
}
section.header .header-bottom .navbar-expand-lg ul.navbar-nav {
  margin-left: auto;
  padding-top: 15px;
}
section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item {
  padding: 0 15px;
}
section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item.contact {
  border: 1px #000 solid;
  border-radius: 22px;
}
section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item.contact a.nav-link {
  margin-top: 2px;
  position: relative;
}
.header-affixs.affix-top {
  top: -1000px;
  position: fixed;
  visibility: collapse;
}
.header-affixs.affix {
  top: 0px;
  left: 0px;
  position: fixed;
  visibility: initial;
  height: 60px;
}
.header-affixs {
  background: #fff;
  width: 100%;
  z-index: 1000;
  height: 90px;
  border-bottom: 2px solid #e2e2e2;
  z-index: 100000;
}
.header-affixs .lgo_web_headrs_wb {
  padding-top: 8px;
}
.header-affixs .lgo_web_headrs_wb a {
  display: block;
  max-width: 217px;
}
.header-affixs .navbar-expand-lg ul.navbar-nav {
  margin-left: auto;
}
.header-affixs .navbar-expand-lg ul.navbar-nav li.nav-item {
  margin-top: 5px;
  padding: 0px 5px 0;
}
.header-affixs .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.header-affixs .navbar-expand-lg ul.navbar-nav li.nav-item.contact {
  padding: 0 15px;
  border: 1px #000 solid;
  border-radius: 22px;
}
.header-affixs .navbar-expand-lg ul.navbar-nav li.nav-item.contact a.nav-link {
  margin-top: 1px;
}
.menu-taffix {
  padding-top: 18px;
}
.menu-taffix ul {
  margin: 0;
  padding: 0px;
}
.menu-taffix ul li {
  padding: 0px;
  padding: 0 5px;
}
.menu-taffix ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover {
  text-decoration: none;
  color: #1d4990;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs {
  max-width: 100%;
  padding: 0;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-item {
  background-size: cover;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-item img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text {
  position: absolute;
  text-align: left;
  right: 0;
  left: 0;
  top: 50%;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs {
  max-width: 675px;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs h5 {
  font-size: 20px;
  color: #ffffff;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs h3 {
  font-size: 39px;
  color: #ffffff;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs p {
  font-size: 14px;
  color: #ffffff;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs .scroll {
  padding-top: 30px;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs .scroll p {
  display: inline-block;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs .scroll p img {
  padding-left: 15px;
  display: inline-block;
  top: -2px;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native {
  position: absolute;
  width: 100%;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators {
  position: relative;
  max-width: inherit;
  margin: 0px;
  right: inherit;
  width: 100%;
  text-align: left;
  justify-content: initial;
  margin-top: -50px;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators li {
  background: #c0c0c0;
  width: 11px;
  height: 11px;
  border-radius: 10px;
  margin: 0px 4px;
  cursor: pointer;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators li.active {
  background: #fff;
}
.header-affixs .lgo_web_headrs_wb img {
  padding-top: 6px;
  width: 60%;
}
section.home-sec-1 {
  background: url('../images/design3_03.jpg') center center;
  background-size: cover;
  min-height: 522px;
  height: auto;
}
section.home-sec-1 .box-content {
  padding-top: 135px;
}
section.home-sec-1 .box-content .title h4 {
  font-size: 39px;
  color: #000;
  font-weight: 700;
  line-height: 1;
}
section.home-sec-1 .box-content .subtitle {
  padding-top: 35px;
}
section.home-sec-1 .box-content .subtitle p {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}
section.home-sec-1 .box-content .subtitle p span a {
  font-weight: 700;
  color: #000;
}
section.home-sec-1 .box-content .tombol {
  bottom: 0;
  position: relative;
  /* left: 100%; */
  display: block;
  top: 75%;
  right: 0;
  float: right;
}
section.home-sec-1 .box-content .tombol a {
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 20px;
  color: #000;
  background: #ffffff;
  background: linear-gradient(90deg, #ffffff 0%, #f6e799 50%, #eaca1e 100%);
}
section.home-sec-1 .box-content .tombol p {
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  color: #000;
}
section.home-sec-2 .box-content {
  padding-top: 115px;
}
section.home-sec-2 .box-content .row {
  max-width: 810px;
  margin: 0 auto;
  text-align: center;
}
section.home-sec-2 .box-content .row .title {
  padding-top: 40px;
}
section.home-sec-2 .box-content .row .title p {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
section.home-sec-2 .box-content .row .sub {
  padding-top: 5px;
}
section.home-sec-2 .box-content .row .sub p {
  font-size: 39px;
  color: #333333;
  font-weight: 700;
}
section.home-sec-2 .box-content .row .content {
  padding-top: 10px;
}
section.home-sec-2 .box-content .row .content p {
  line-height: 1.8;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
}
section.home-sec-2 .box-content .row .content p b,
section.home-sec-2 .box-content .row .content p strong,
section.home-sec-2 .box-content .row .content p span {
  padding-top: 10px;
  font-size: 17px;
  color: #000000;
  font-weight: 600;
}
section.home-sec-our {
  background: url('../images/design3_03_01_03_03.jpg') !important;
  min-height: 365px;
  margin-top: 80px;
}
section.home-sec-our .box-our-service {
  max-width: 1300px;
}
section.home-sec-our .box-our-service .title {
  padding-bottom: 10px;
}
section.home-sec-our .box-our-service .title p {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #eaca1e;
}
section.home-sec-our .box-our-service .box-content-outer {
  background: url('../images/sec-sec_03.jpg');
  padding: 10px;
  box-shadow: 5px 5px 6px 0px rgba(50, 50, 50, 0.5);
}
section.home-sec-our .box-our-service .box-content-outer .box-content-inner {
  padding: 50px 40px;
  background: #fff;
  box-shadow: 5px 5px 6px 0px rgba(50, 50, 50, 0.5);
}
section.home-sec-our .box-our-service .box-content-outer .box-content-inner .box-isi-content {
  padding-bottom: 0;
}
section.home-sec-our .box-our-service .box-content-outer .box-content-inner .box-isi-content img {
  margin: 0 auto;
  text-align: center;
  display: block;
}
section.home-sec-our .box-our-service .box-cont {
  margin: 0 auto;
  text-align: center;
  display: block;
}
section.home-sec-our .box-our-service .box-cont a {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  background: #ffffff;
  background: linear-gradient(90deg, #ffffff 0%, #f6e799 50%, #eaca1e 100%);
}
.hr-inside-box {
  height: 2px;
  background: #737373;
  margin: 30px 0;
  display: block;
}
section.connect {
  background: #eaca1c;
}
section.connect .box-content {
  padding: 15px 0;
  margin: 0 auto;
  display: block;
  text-align: center;
}
section.connect .box-content p {
  display: inline-block;
  font-size: 32px;
  color: #000;
  font-weight: 300;
}
section.connect .box-content img {
  padding-left: 15px;
  position: relative;
  top: -5px;
}
section.footer {
  background: #e7e8eb;
}
section.footer .section-box {
  padding-top: 65px;
}
section.footer .section-box .box-footer .title p {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}
section.footer .section-box .box-footer .menu {
  padding-top: 25px;
}
section.footer .section-box .box-footer .menu ul {
  list-style: none;
  padding-left: 0;
}
section.footer .section-box .box-footer .menu ul li a {
  font-size: 15px;
  color: #333333;
}
section.footer .section-box .box-footer .content {
  padding: 25px 0 35px;
}
section.footer .section-box .box-footer .content p {
  font-size: 12px;
  color: #333333;
}
section.footer .section-box .box-footer .image img {
  padding-top: 15px;
}
section.footer .hr-footer {
  height: 1px;
  background: #d0d2d5;
}
section.footer .footer-bawah img {
  display: inline-block;
  position: relative;
}
section.footer .footer-bawah p {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #333;
}
section.footer .footer-bawah p.by {
  font-size: 13px;
  color: #333;
  text-align: left !important;
  float: left !important;
}
section.footer .footer-bawah p.by a {
  color: #333;
  text-decoration: none;
}
section.home-sec-4 .box-header {
  padding-top: 150px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
section.home-sec-4 .box-header .title p {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
section.home-sec-4 .box-header .sub {
  padding-top: 0px;
}
section.home-sec-4 .box-header .sub p {
  font-size: 39px;
  color: #333;
  font-weight: 700;
}
section.home-sec-4 .box-row-content {
  padding-top: 60px;
}
section.home-sec-4 .box-row-content .tanggal {
  padding: 20px 0 12px;
}
section.home-sec-4 .box-row-content .tanggal p {
  font-size: 14px;
  color: #333;
}
section.home-sec-4 .box-row-content .content p {
  font-size: 22px;
  color: #333;
  font-weight: 600;
  line-height: 1.2;
}
section.home-sec-4 .box-row-content .read-more {
  padding-top: 10px;
}
section.home-sec-4 .box-row-content .read-more a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #1696b2;
}
section.cover-insides {
  background: url('../images/insisdes_04.jpg');
  min-height: 592px;
  position: relative;
  width: 100%;
}
section.cover-insides .text-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* iOS */
  transform: translate(-50%, -50%);
}
.cover {
  width: 100%;
  height: 637px;
  background: url('../images/insisdes_04.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
}
.cover .text {
  width: 525px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* iOS */
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  line-height: 1;
  display: block;
  margin-top: 3.5%;
}
.cover .text h2 {
  font-size: 39px;
  font-weight: 700;
}
.cover .text h2.what {
  font-size: 25px;
  font-weight: 700;
}
.cover .text p {
  font-size: 39px;
  font-weight: 700;
}
.cover.career {
  background: url('../images/hero-corpus-career.jpg');
  background-position: center center;
  background-size: cover;
  height: 480px;
}
.cover.contact {
  background: url('../images/hero-corpus-contact.jpg');
  background-position: center center;
  background-size: cover;
}
.cover.investor {
  background: url('../images/hero-corpus-investor.jpg');
  background-position: center center;
  background-size: cover;
}
.cover.whatwedo {
  background: url('../images/hero-corpus-what-we-do.jpg');
  background-position: center center;
  background-size: cover;
}
section.breadcrumb-insides {
  background: #202020;
}
section.breadcrumb-insides .prelative.container {
  height: 50px;
}
section.breadcrumb-insides .prelative.container nav .breadcrumb {
  margin-bottom: 0;
  padding: 0.75rem 0;
  background: #202020;
}
section.breadcrumb-insides .prelative.container nav .breadcrumb li a {
  font-size: 10px;
  color: #d9d9d9;
  font-weight: 600;
  text-transform: uppercase;
}
section.breadcrumb-insides .prelative.container .back.float-right {
  top: -38px;
  position: relative;
}
section.breadcrumb-insides .prelative.container .back.float-right a {
  font-size: 10px;
  color: #d9d9d9;
  font-weight: 600;
  text-transform: uppercase;
}
section.breadcrumb-insides .prelative.container .back.float-right a span img {
  top: -1px;
  position: relative;
  padding-right: 15px;
}
section.part-sec-1 {
  position: relative;
  background: #f2f3f7;
}
section.part-sec-1 .title {
  padding-top: 85px;
}
section.part-sec-1 .title p {
  text-align: center;
  font-size: 23px;
  color: #000000;
  font-weight: 700;
}
section.part-sec-1 .image {
  padding-top: 50px;
}
section.part-sec-1 .image img {
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: block;
}
section.part-sec-1 .our-corp {
  padding-top: 110px;
}
section.part-sec-1 .our-corp p {
  text-align: center;
  font-size: 23px;
  color: #000000;
  font-weight: 700;
}
section.part-sec-1 .above-our-corp {
  padding-top: 30px;
  padding-bottom: 120px;
}
section.part-sec-1 .above-our-corp p {
  text-align: center;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}
section.about-sec-1 {
  background: url('../images/cover--ABOUTsec-1_02.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 885px;
}
section.about-sec-1 .box-container {
  padding: 120px 0 !important;
}
section.about-sec-1 .box-container .box-content {
  max-width: 650px;
}
section.about-sec-1 .box-container .box-content .title {
  padding-bottom: 10px;
}
section.about-sec-1 .box-container .box-content .title h4 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
section.about-sec-1 .box-container .box-content .sub p {
  font-size: 39px !important;
  font-weight: 700;
  color: #333333;
  line-height: 1.2;
}
section.about-sec-1 .box-container .box-content .content p {
  padding-top: 20px;
  font-size: 14px;
  color: #333333;
  line-height: 1.8;
}
section.about-sec-1 .box-container .image {
  padding-top: 40px;
}
section.about-sec-1 .box-container .image img {
  float: right;
}
section.about-sec-2 .box-outer {
  box-shadow: 3px 3px 6px 0px #c4c4c4;
}
section.about-sec-2 .box-outer .box-left-1 {
  min-height: 459px;
  background: #f2f3f7;
  position: relative;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
section.about-sec-2 .box-outer .box-left-1 .content {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  padding: 0 65px;
}
section.about-sec-2 .box-outer .box-left-1 .content .title {
  padding-bottom: 10px;
}
section.about-sec-2 .box-outer .box-left-1 .content .title p {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}
section.about-sec-2 .box-outer .box-left-1 .content .isi p {
  font-size: 14px;
  color: #333333;
  line-height: 1.8;
}
section.about-sec-2 .box-outer .box-right-1 img {
  min-height: 459px;
}
section.about-sec-2 .box-outer .box-right-2 {
  min-height: 459px;
  background: #f2f3f7;
  position: relative;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
section.about-sec-2 .box-outer .box-right-2 .content {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  padding: 0 65px;
}
section.about-sec-2 .box-outer .box-right-2 .content .title {
  padding-bottom: 10px;
}
section.about-sec-2 .box-outer .box-right-2 .content .title p {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}
section.about-sec-2 .box-outer .box-right-2 .content .isi p {
  font-size: 14px;
  color: #333333;
  line-height: 1.8;
}
section.about-sec-2 .box-outer .box-left-2 img {
  min-height: 459px;
}
section.about-sec-3 {
  background: url('../images/cover-visi-misi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
section.about-sec-3 .prelative.container {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  padding: 0 65px;
}
section.about-sec-3 .prelative.container .visi-misi {
  max-width: 675px;
  margin: 0 auto;
  display: block;
}
section.about-sec-3 .prelative.container .visi-misi .title {
  padding-bottom: 15px;
}
section.about-sec-3 .prelative.container .visi-misi .title p {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
section.about-sec-3 .prelative.container .visi-misi .content p {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}
section.about-sec-4 {
  background: #f2f3f7;
}
section.about-sec-4 .head {
  padding: 100px 0 50px;
}
section.about-sec-4 .head .title {
  padding-bottom: 20px;
}
section.about-sec-4 .head .title p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
section.about-sec-4 .head .sub p {
  text-align: center;
  font-size: 39px;
  font-weight: 700;
  color: #333;
}
section.about-sec-4 .box-pejabat {
  padding-bottom: 100px;
}
section.about-sec-4 .box-pejabat .nama {
  padding-top: 12px;
}
section.about-sec-4 .box-pejabat .nama p {
  font-size: 17px;
  color: #333;
  font-weight: 700;
}
section.about-sec-4 .box-pejabat .kat p {
  font-size: 12px;
  color: #333;
  font-weight: 600;
}
section.about-sec-4 .box-pejabat .content-right .content {
  padding-top: 20px;
}
section.about-sec-4 .box-pejabat .content-right .content p {
  font-size: 17px;
  color: #333;
  font-weight: 300;
}
section.what-sec-3 {
  background: #e7e8eb;
  min-height: 460px;
}
section.what-sec-3 .title {
  padding-top: 90px;
  padding-bottom: 45px;
}
section.what-sec-3 .title p {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
section.what-sec-3 .bawah {
  padding-top: 40px;
}
section.what-sec-3 .bawah p {
  font-size: 14px;
  text-align: center;
  color: #343434;
}
section.what-sec-1 {
  background: url('../images/revisi-corpus_03.jpg');
  background-repeat: repeat-x;
}
section.what-sec-1 .prelative.container {
  margin-top: 115px !important;
}
section.what-sec-1 .prelative.container .box-aneh {
  position: absolute;
}
section.what-sec-1 .prelative.container .box-aneh .image img {
  max-height: 685px;
}
section.what-sec-1 .prelative.container .box-aneh .bawah-gambar p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  max-width: 500px	;
}
section.what-sec-1 .prelative.container .content .title p {
  font-size: 39px;
  color: #333;
  font-weight: 700;
  margin-top: -15px;
}
section.what-sec-1 .prelative.container .content .sub p {
  font-size: 16px;
  color: #333;
  font-weight: 700;
}
section.what-sec-1 .prelative.container .content-utama {
  padding-top: 60px;
  padding-top: 20px !important;
}
section.what-sec-1 .prelative.container .content-utama .title p {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  margin-bottom: 18px;
}
section.what-sec-1 .prelative.container .content-utama .isi p {
  padding-top: 20px;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}
section.what-sec-2 {
  background: #f2f3f7;
  min-height: 630px;
}
section.what-sec-2 .bawah-gambar {
  padding-top: 180px;
}
section.what-sec-2 .bawah-gambar p {
  font-size: 14px;
  color: #333;
  line-height: 1.3;
}
section.what-sec-2 .box-content {
  padding-top: 60px;
}
section.what-sec-2 .box-content .title p {
  font-size: 20px;
  font-weight: 700;
}
section.what-sec-2 .box-content .content {
  padding-top: 15px;
}
section.what-sec-2 .box-content .content p {
  padding-bottom: 20px;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}
section.what-sec-2 .box-content .content p a {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  text-decoration: none;
  font-weight: 700;
}
section.what-sec-2 .box-content .content ol {
  font-size: 15px;
  color: #1b999f;
  font-weight: 700;
  list-style: none;
  counter-reset: li;
  padding-left: 35px;
}
section.what-sec-2 .box-content .content ol li {
  color: #333333;
  font-size: 14px;
  counter-increment: li;
}
section.what-sec-2 .box-content .content ol li::before {
  content: counter(li);
  color: #1b999f;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
  padding-right: 27px;
}
section.financial-sec-1 .prelative.container {
  padding-top: 110px;
}
section.financial-sec-1 .prelative.container .head-title .title p {
  font-size: 39px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}
section.financial-sec-1 .prelative.container .head-title .sub p {
  font-size: 16px;
  color: #333;
  font-weight: 700;
}
section.financial-sec-1 .prelative.container .head-title .cont {
  padding-top: 15px;
}
section.financial-sec-1 .prelative.container .head-title .cont p {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
}
section.financial-sec-1 .prelative.container .box-content {
  padding-top: 50px;
}
section.financial-sec-1 .prelative.container .box-content .tanggal {
  padding-top: 25px;
}
section.financial-sec-1 .prelative.container .box-content .tanggal p {
  font-size: 15px;
  color: #333333;
}
section.financial-sec-1 .prelative.container .box-content .title-content {
  padding-top: 10px;
}
section.financial-sec-1 .prelative.container .box-content .title-content p {
  font-size: 19px;
  font-weight: 700;
  color: #333333;
}
section.financial-sec-1 .prelative.container .box-content-inner {
  padding-top: 60px;
}
section.financial-sec-1 .prelative.container .box-content-inner .tanggal {
  padding: 20px 0 12px;
}
section.financial-sec-1 .prelative.container .box-content-inner .tanggal p {
  font-size: 14px;
  color: #333;
}
section.financial-sec-1 .prelative.container .box-content-inner .content p {
  font-size: 22px;
  color: #333;
  font-weight: 600;
  line-height: 1.2;
}
section.financial-sec-1 .prelative.container .box-content-inner .read-more {
  padding-top: 10px;
}
section.financial-sec-1 .prelative.container .box-content-inner .read-more a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #1696b2;
}
section.newssss-sec-1 .prelative.container {
  padding-top: 110px;
}
section.newssss-sec-1 .prelative.container .head-title {
  margin: 0 auto;
  text-align: center;
}
section.newssss-sec-1 .prelative.container .head-title .title p {
  font: size 39px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}
section.newssss-sec-1 .prelative.container .head-title .sub p {
  font-size: 16px;
  color: #333;
  font-weight: 700;
}
section.newssss-sec-1 .prelative.container .head-title .cont {
  padding-top: 15px;
}
section.newssss-sec-1 .prelative.container .head-title .cont p {
  color: #333333;
  font-size: 39px;
  font-weight: 400;
}
section.newssss-sec-1 .prelative.container .hr-verti {
  background: #d0d0d0;
  width: 100%;
  height: 1px;
}
section.newssss-sec-1 .prelative.container .inblock_topfilter {
  margin: 0px;
  clear: both;
}
section.newssss-sec-1 .prelative.container .inblock_topfilter .katern {
  padding-top: 3px;
}
section.newssss-sec-1 .prelative.container .inblock_topfilter .katern ul {
  margin-bottom: 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  clear: both;
}
section.newssss-sec-1 .prelative.container .inblock_topfilter .katern ul li {
  margin: 0;
}
section.newssss-sec-1 .prelative.container .inblock_topfilter .katern ul li a {
  padding: 0 15px;
  font-size: 13px;
  color: #bbbbbb;
}
section.newssss-sec-1 .prelative.container .inblock_topfilter .katern ul .separator {
  background: #bbbbbb;
  width: 1px;
  height: 12px;
  display: inline-block;
  top: 2px;
  position: relative;
}
section.newssss-sec-1 .prelative.container .inblock_topfilter .paginat {
  margin: 0;
}
section.newssss-sec-1 .prelative.container .inblock_topfilter .paginat nav {
  float: right;
}
section.newssss-sec-1 .prelative.container .inblock_topfilter .paginat nav ul.pagination li a {
  border: 0;
  font-size: 13px;
  color: #878787;
}
section.newssss-sec-1 .prelative.container .box-content {
  padding-top: 50px;
}
section.newssss-sec-1 .prelative.container .box-content .tanggal {
  padding-top: 25px;
}
section.newssss-sec-1 .prelative.container .box-content .tanggal p {
  font-size: 15px;
  color: #333333;
  display: inline-block;
}
section.newssss-sec-1 .prelative.container .box-content .tanggal .hr-tanggal {
  width: 1px;
  height: 15px;
  background: #cccccc;
}
section.newssss-sec-1 .prelative.container .box-content .title-content {
  padding-top: 10px;
}
section.newssss-sec-1 .prelative.container .box-content .title-content p {
  font-size: 19px;
  font-weight: 700;
  color: #333333;
}
section.newssss-sec-1 .prelative.container .box-content-inner {
  padding-top: 60px;
}
section.newssss-sec-1 .prelative.container .box-content-inner .tanggal {
  padding-top: 25px;
}
section.newssss-sec-1 .prelative.container .box-content-inner .tanggal p {
  font-size: 15px;
  color: #333333;
  display: inline-block;
}
section.newssss-sec-1 .prelative.container .box-content-inner .tanggal .hr-tanggal {
  width: 1px;
  height: 15px;
  background: #cccccc;
}
section.newssss-sec-1 .prelative.container .box-content-inner .content p {
  font-size: 22px;
  color: #333;
  font-weight: 600;
  line-height: 1.2;
}
section.newssss-sec-1 .prelative.container .box-content-inner .read-more {
  padding-top: 10px;
}
section.newssss-sec-1 .prelative.container .box-content-inner .read-more a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #1696b2;
}
.hr-verti {
  background: #d0d0d0;
  width: 100%;
  height: 1px;
}
.prelative.container2 {
  max-width: 1300px;
  padding-top: 50px;
  margin: 0 auto;
}
.prelative.container2 .inblock_topfilter {
  margin: 0px;
  clear: both;
}
.prelative.container2 .inblock_topfilter .katern {
  padding-top: 3px;
}
.prelative.container2 .inblock_topfilter .katern ul {
  margin-bottom: 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  clear: both;
}
.prelative.container2 .inblock_topfilter .katern ul li {
  margin: 0;
}
.prelative.container2 .inblock_topfilter .katern ul li a {
  padding: 0 15px;
  font-size: 13px;
  color: #bbbbbb;
}
.prelative.container2 .inblock_topfilter .katern ul .separator {
  background: #bbbbbb;
  width: 1px;
  height: 12px;
  display: inline-block;
  top: 2px;
  position: relative;
}
.prelative.container2 .inblock_topfilter .paginat {
  margin: 0;
}
.prelative.container2 .inblock_topfilter .paginat nav {
  float: right;
}
.prelative.container2 .inblock_topfilter .paginat nav ul.pagination li a {
  border: 0;
  font-size: 13px;
  color: #878787;
}
.hr-investor {
  background: #bcbcbc;
  height: 1px;
}
.hr-news {
  background: #b2b2b2;
  height: 1px;
}
section.pilih-kategori .prelative.container {
  padding: 25px;
}
section.pilih-kategori .prelative.container .content {
  display: inline-block;
}
section.pilih-kategori .prelative.container .content p {
  font-size: 16px;
  color: #333333;
}
section.pilih-kategori .prelative.container .finan,
section.pilih-kategori .prelative.container .high,
section.pilih-kategori .prelative.container .facts {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
section.pilih-kategori .prelative.container .finan p,
section.pilih-kategori .prelative.container .high p,
section.pilih-kategori .prelative.container .facts p {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
}
section.pilih-kategori .prelative.container .hr-fooot {
  display: inline-block;
  width: 1px;
  height: 25px;
  background: #9b9b9b;
  top: 7px;
  position: relative;
}
section.news-sec-1 {
  padding-top: 100px;
}
section.news-sec-1 .prelative.container .box-content .tanggal p {
  text-align: center;
  font-size: 15px;
  color: #333333;
}
section.news-sec-1 .prelative.container .box-content .title {
  padding-top: 10px;
  max-width: 650px;
  margin: 0 auto;
}
section.news-sec-1 .prelative.container .box-content .title p {
  text-align: center;
  font-size: 35px;
  color: #333333;
  font-weight: 700;
}
section.news-sec-1 .prelative.container .box-content .image {
  padding-top: 40px;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}
section.news-sec-1 .prelative.container .box-content .content {
  margin: 0 auto;
  max-width: 650px;
}
section.news-sec-1 .prelative.container .box-content .content p {
  padding-top: 25px;
  font-size: 16px;
  color: #333333;
  font-weight: 300;
}
section.news-sec-1 .prelative.container .box-content .content p b {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
section.news-sec-2 .prelative.container .head-title {
  padding-bottom: 15px;
}
section.news-sec-2 .prelative.container .head-title p {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
section.news-sec-2 .prelative.container .box-content {
  padding-top: 25px;
}
section.news-sec-2 .prelative.container .box-content .tanggal {
  padding-top: 25px;
}
section.news-sec-2 .prelative.container .box-content .tanggal p {
  font-size: 15px;
  color: #333333;
}
section.news-sec-2 .prelative.container .box-content .title-content {
  padding-top: 10px;
}
section.news-sec-2 .prelative.container .box-content .title-content p {
  font-size: 19px;
  font-weight: 700;
  color: #333333;
}
section.contact-sec-1 {
  background: url('../images/bg-konten-contact.jpg') !important;
  height: 794px !important;
  background-size: cover !important;
}
section.contact-sec-1 .prelative.container {
  padding-top: 125px !important;
}
section.contact-sec-1 .prelative.container .content .lets p {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
section.contact-sec-1 .prelative.container .content .title {
  padding-top: 25px;
}
section.contact-sec-1 .prelative.container .content .title p {
  font-size: 37px;
  color: #333333;
  font-weight: 700;
  line-height: 1;
}
section.contact-sec-1 .prelative.container .content .fill {
  padding-top: 25px;
}
section.contact-sec-1 .prelative.container .content .fill p {
  font-size: 14px;
  color: #333333;
}
section.contact-sec-1 .prelative.container form {
  padding-top: 25px;
}
section.contact-sec-1 .prelative.container form label {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
section.contact-sec-1 .prelative.container form textarea {
  height: 100px;
}
section.contact-sec-1 .prelative.container form button {
  text-decoration: none;
  padding: 5px 45px;
  border-radius: 20px;
  font-weight: 700;
  border: 0;
  color: #000;
  background: linear-gradient(90deg, #ffffff 0%, #f6e799 50%, #eaca1e 100%);
}
section.contact-sec-2 {
  padding-top: 130px;
}
section.contact-sec-2 .prelative.container .head-title p {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
section.contact-sec-2 .prelative.container .head-title p img {
  margin-right: 15px;
}
section.contact-sec-2 .prelative.container .kartu-contact {
  background: #e1e1e1;
  min-height: 200px;
  margin-top: 35px;
  max-width: 610px;
  height: 203px;
}
section.contact-sec-2 .prelative.container .kartu-contact .kiri {
  position: relative;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
section.contact-sec-2 .prelative.container .kartu-contact .kiri .content {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  padding-left: 35px;
}
section.contact-sec-2 .prelative.container .kartu-contact .kiri .content h5 {
  margin-bottom: 0;
  font-size: 19px;
  color: #000;
  font-weight: 700;
}
section.contact-sec-2 .prelative.container .kartu-contact .kiri .content h4 {
  font-size: 17px;
  font-style: italic;
  margin-bottom: 0;
  color: #000;
  padding-top: 5px;
}
section.contact-sec-2 .prelative.container .kartu-contact .kiri .content p {
  padding-top: 15px;
  font-size: 14px;
}
section.career-sec-1 {
  background: url('../images/career-sec-1.jpg') center center;
  background-repeat: no-repeat;
  min-height: 490px !important;
  background-size: cover;
}
section.career-sec-1 .prelative.container .content {
  max-width: 680px;
  padding-top: 125px !important;
}
section.career-sec-1 .prelative.container .content h5 {
  font-size: 16px;
  font-weight: 700;
}
section.career-sec-1 .prelative.container .content h3 {
  font-size: 39px;
  font-weight: 700;
  padding: 15px 0;
  line-height: 1.2;
}
section.career-sec-1 .prelative.container .content p {
  font-size: 14px;
}
.hr-career {
  height: 1px;
  background: #d2d2d2;
  margin-bottom: 30px;
}
section.career-sec-2 {
  padding-top: 85px;
}
section.career-sec-2 .prelative.container .title-head .avail {
  padding-bottom: 40px;
}
section.career-sec-2 .prelative.container .title-head .avail p {
  font-size: 16px;
  font-weight: 700;
}
section.career-sec-2 .prelative.container .title-pos {
  padding-bottom: 30px;
}
section.career-sec-2 .prelative.container .title-pos p {
  font-size: 30px;
  font-weight: 700;
  color: #333;
}
section.career-sec-2 .prelative.container .desc {
  padding-bottom: 30px;
}
section.career-sec-2 .prelative.container .desc p {
  font-size: 14px;
  color: #333;
}
section.career-sec-2 .prelative.container .work {
  padding-bottom: 30px;
}
section.career-sec-2 .prelative.container .work p {
  font-size: 14px;
  color: #333;
}
section.career-sec-2 .prelative.container .heading-col {
  background: #9a9a9a;
  padding: 10px 0;
}
section.career-sec-2 .prelative.container .heading-col p {
  margin-left: 30px;
  font-size: 12px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}
section.career-sec-2 .prelative.container .req ul {
  padding-top: 25px;
}
section.career-sec-2 .prelative.container .req ul li {
  font-size: 14px;
  color: #333;
  padding-top: 5px;
}
section.fac-sec-1 {
  padding-top: 100px;
}
section.fac-sec-1 .prelative.container .content .title p {
  font-size: 39px;
  color: #333;
  font-weight: 700;
}
section.fac-sec-1 .prelative.container .content .sub p {
  font-size: 16px;
  color: #333;
  font-weight: 700;
}
section.fac-sec-1 .prelative.container .content .isi {
  padding-top: 10px;
}
section.fac-sec-1 .prelative.container .content .isi p {
  font-size: 14px;
  color: #333;
}
section.tabel {
  padding-top: 65px;
}
section.tabel thead tr th {
  background: #9a9a9a;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
section.tabel tbody td {
  font-size: 15px;
  color: #333;
}
section.tabel tbody td span img {
  position: relative;
  padding-right: 15px;
}
section.tabel tbody td.down a {
  font-size: 11px;
  font-weight: bold;
  color: #333;
}
section.tabel tbody td.bulan {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.bawah-section p {
  padding-top: 20px;
  font-size: 14px;
  color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
i.fa.fa-calendar {
  font-size: 11px;
}
section.footer .section-box .box-footer .menu ul li a {
  font-size: 13px;
}
section.header-affixs,
section.header {
  clear: both;
}
section.header-affixs .header-bottom,
section.header .header-bottom {
  transition: background 0.3s ease-in-out;
  z-index: 5;
  width: 100%;
}
section.header-affixs .header-bottom .navbar-expand-lg ul.navbar-nav,
section.header .header-bottom .navbar-expand-lg ul.navbar-nav {
  max-width: 880px;
}
section.header-affixs .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item,
section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item {
  padding: 0 20px;
}
section.header-affixs .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link,
section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link {
  padding-left: 0;
  padding-right: 0;
}
section.header-affixs .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item.contact,
section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item.contact {
  padding: 0 38px;
  margin-left: 25px;
}
section.header-affixs .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item.contact a,
section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item.contact a {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
section.header-affixs .header-bottom.mn-open,
section.header .header-bottom.mn-open {
  background-color: rgba(255, 255, 255, 0.95);
}
section.header-affixs .header-bottom.mn-open .navbar-expand-lg ul.navbar-nav li.nav-item,
section.header .header-bottom.mn-open .navbar-expand-lg ul.navbar-nav li.nav-item {
  padding: 0 23px;
}
section.header-affixs .header-bottom.mn-open .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link,
section.header .header-bottom.mn-open .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link {
  color: #000;
}
section.header-affixs .header-bottom.mn-open .navbar-expand-lg ul.navbar-nav li.nav-item.contact,
section.header .header-bottom.mn-open .navbar-expand-lg ul.navbar-nav li.nav-item.contact {
  border-color: #000;
  padding: 0 38px;
  margin-left: 25px;
}
section.header-affixs .blocks_menu_dropdown.views-menu,
section.header .blocks_menu_dropdown.views-menu {
  display: block;
  clear: both;
}
section.header-affixs .blocks_menu_dropdown,
section.header .blocks_menu_dropdown {
  position: absolute;
  z-index: 999;
  width: 100%;
  min-height: 150px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.95);
  transition: background 0.95s ease-in-out;
  display: none;
}
section.header-affixs .blocks_menu_dropdown .lines-grey,
section.header .blocks_menu_dropdown .lines-grey {
  height: 1px;
  width: 100%;
  background-color: #b8b8b8;
}
section.header-affixs .blocks_menu_dropdown .menu-sub,
section.header .blocks_menu_dropdown .menu-sub {
  clear: both;
}
section.header-affixs .blocks_menu_dropdown .menu-sub ul,
section.header .blocks_menu_dropdown .menu-sub ul {
  display: block;
  padding: 0;
  margin: 0;
}
section.header-affixs .blocks_menu_dropdown .menu-sub ul li,
section.header .blocks_menu_dropdown .menu-sub ul li {
  padding: 2.3px 0;
}
section.header-affixs .blocks_menu_dropdown .menu-sub ul li a,
section.header .blocks_menu_dropdown .menu-sub ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #717171;
  text-decoration: none;
}
section.header-affixs .blocks_menu_dropdown .menu-sub ul li:hover a,
section.header .blocks_menu_dropdown .menu-sub ul li:hover a,
section.header-affixs .blocks_menu_dropdown .menu-sub ul li.active a,
section.header .blocks_menu_dropdown .menu-sub ul li.active a {
  color: #000;
  text-decoration: none;
}
section.header-affixs .blocks_menu_dropdown .bx-inners_sub,
section.header .blocks_menu_dropdown .bx-inners_sub {
  float: right;
  width: 852px;
  margin-right: 2.5rem;
}
section.header-affixs .blocks_menu_dropdown .bx-inners_sub .blc_right_close_menu a,
section.header .blocks_menu_dropdown .bx-inners_sub .blc_right_close_menu a {
  color: #110f10;
  text-decoration: none;
}
section.header-affixs .blocks_menu_dropdown .bx-inners_sub .blc_right_close_menu a i.fa,
section.header .blocks_menu_dropdown .bx-inners_sub .blc_right_close_menu a i.fa {
  color: #110f10;
  font-size: 19px;
}
.kanan-sendiri .en-in {
  padding-left: 45px;
}
.kanan-sendiri .en-in a {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}
.kanan-sendiri .en-in a:hover,
.kanan-sendiri .en-in a:focus {
  text-decoration: none;
  color: #000;
}
.header-affixs .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
section.outers-box-videos {
  min-height: 675px;
  height: auto;
  width: 100%;
  background: url('../images/backs-home-tambah-video.jpg') repeat-x;
}
.box-videos-nyoutubes {
  clear: both;
}
.box-videos-nyoutubes .inner-video iframe {
  -webkit-box-shadow: 6px 6px 16px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 6px 6px 16px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 6px 6px 16px 0px rgba(50, 50, 50, 0.75);
}
@media (max-width: 767px) {
  section.outers-box-videos {
    min-height: inherit;
    padding-bottom: 2rem;
  }
  .navbar-dark .navbar-toggler {
    border: 0px;
  }
  nav.navbar.fixed-top {
    background: linear-gradient(90deg, #1696b3 20%, #297772 70%, #357b60 100%);
  }
  .fcs-wrapper.outers_fcs_wrapper {
    padding-top: 75px;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption.caption-slider-home {
    background: linear-gradient(90deg, #1696b3 20%, #297772 70%, #357b60 100%);
    position: relative;
    top: inherit;
    left: inherit;
    bottom: inherit;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption.caption-slider-home .bxsl_tx_fcs h3 {
    font-size: 17px;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption.caption-slider-home .bxsl_tx_fcs h3 {
    font-size: 28px;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption.caption-slider-home .bxsl_tx_fcs p {
    font-size: 13px;
  }
  section.home-sec-1 {
    min-height: inherit;
    padding-bottom: 7em;
  }
  section.home-sec-1 .box-content {
    padding-top: 4em;
  }
  section.home-sec-our .box-our-service .box-content-outer .box-content-inner .box-isi-content .content-insides-box {
    padding-bottom: 0.5em;
  }
  .header-affixs.affix {
    display: none;
  }
  section.connect .box-content img {
    padding-left: 5px;
    max-width: 27px;
    margin-left: 5px;
  }
  section.footer .section-box .box-footer .title p {
    font-size: 17px;
  }
  section.footer .section-box .box-footer .menu ul li a {
    font-size: 14px;
  }
  section.breadcrumb-insides .prelative.container {
    height: auto;
  }
  .cover .text {
    padding: 0 15px;
  }
  .cover .text h2.what {
    font-size: 20px;
  }
  .cover .text p {
    font-size: 25px;
    line-height: 1.3;
  }
  section.header .header-tops,
  section.header .header-bottom {
    display: none;
  }
  section.home-sec-4 .box-header {
    padding-top: 1.5em !important;
  }
  section.news-sec-1 .prelative.container .box-content .image {
    padding-top: 1.8em;
  }
  section.news-sec-1 .prelative.container .box-content .content p {
    padding-top: 20px;
  }
  section.news-sec-2 .prelative.container .box-content .tanggal {
    padding-top: 15px;
  }
  section.news-sec-2 .prelative.container .box-content .title-content {
    padding-top: 5px;
  }
  section.newssss-sec-1 .prelative.container .inblock_topfilter .paginat {
    text-align: center !important;
  }
  .prelative.container2 .inblock_topfilter .paginat nav,
  section.newssss-sec-1 .prelative.container .inblock_topfilter .paginat nav {
    float: none;
  }
  .prelative.container2 .inblock_topfilter .paginat nav ul,
  section.newssss-sec-1 .prelative.container .inblock_topfilter .paginat nav ul {
    justify-content: center;
  }
  section.newssss-sec-1 .prelative.container .box-content-inner {
    padding-top: 2em;
  }
  section.newssss-sec-1 .prelative.container .box-content-inner .tanggal {
    padding-top: 0.6em;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators {
    margin: 0 !important;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native {
    bottom: -35px !important;
  }
}
@media (max-width: 449px) {
  .cover .text h2.what {
    font-size: 20px;
    margin-bottom: 0;
  }
  .cover .text p {
    font-size: 28px;
  }
  section.home-sec-our .box-our-service .box-cont a {
    font-size: 14px;
  }
  section.home-sec-4 .box-header .sub p {
    font-size: 23px !important;
  }
  section.home-sec-4 .box-row-content .content p {
    font-size: 18px;
  }
  section.connect .box-content p {
    font-size: 27px;
  }
  .cover {
    margin-top: 80px;
    height: 200px;
  }
  .cover .text p {
    font-size: 24px;
  }
}
header.header-mobile.homepage_head .menu-headers {
  margin-right: 25px;
}
header.header-mobile.homepage_head {
  padding: 0 15px;
}
header.header-mobile.homepage_head nav.navbar.navbar-light {
  background-color: #fff !important;
  padding-left: 15px;
  padding-right: 15px;
}
header.header-mobile.homepage_head .navbar-brand {
  max-width: 240px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
header.header-mobile.homepage_head ul.navbar-nav li {
  border-bottom: 1px #000 solid;
  padding: 10px 0;
}
header.header-mobile.homepage_head ul.navbar-nav li a {
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Roboto, 'Open Sans', Roboto, sans-serif;
  font-weight: 500;
}
header.header-mobile.homepage_head ul.navbar-nav li .dropdown-menu {
  border: 0px;
  padding: 0;
}
header.header-mobile.homepage_head ul.navbar-nav li .dropdown-menu li a {
  margin-top: 0;
  padding-left: 1em;
  text-transform: uppercase;
}
header.header-mobile.homepage_head ul.navbar-nav li.dropdown a {
  padding: 0;
}
@media screen and (max-width: 1370px) {
  section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item {
    padding: 0 15px;
  }
  section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link {
    font-size: 15px;
  }
  .header-affixs .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link {
    font-size: 13px;
    font-weight: 700;
    color: #000;
  }
  .kanan-sendiri {
    padding-top: 15px !important;
  }
  .carousel-item {
    background-position: center;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native {
    bottom: -20px;
  }
}
@media screen and (max-width: 1000px) {
  section.header .header-bottom .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link {
    font-size: 12px;
  }
  .header-affixs .navbar-expand-lg ul.navbar-nav li.nav-item a.nav-link {
    font-size: 12px;
    font-weight: 700;
    color: #000;
  }
  .kanan-sendiri {
    padding-top: 15px !important;
  }
  section.header .prelative.container-header.header-tops {
    display: none !important;
  }
}
@media screen and (max-width: 450px) {
  section.header {
    display: none;
  }
  nav.navbar.fixed-top {
    background: #fff;
  }
  section.home-sec-1 .box-content .title h4 {
    font-size: 20px;
  }
  section.home-sec-1 .box-content .tombol a {
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: block;
  }
  section.home-sec-1 .box-content .tombol {
    float: none;
    top: 55%;
  }
  section.home-sec-1 .box-content .subtitle {
    padding-top: 15px;
  }
  section.home-sec-1 .box-content .tombol p {
    padding-top: 10px;
  }
  section.home-sec-2 .box-content {
    padding-top: 75px;
  }
  section.home-sec-2 .box-content .row .title p {
    font-size: 14px;
    color: #000;
    font-weight: 700;
  }
  section.home-sec-2 .box-content .row .sub p {
    font-size: 30px;
  }
  color: #333;
  font-weight: 700;
}
section.home-sec-2 .box-content .row .content p span {
  padding-top: 10px;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
section.home-sec-2 .box-content .row .content p {
  line-height: 1.8;
  font-size: 13px;
  color: #333;
  font-weight: 400;
}
section.home-sec-our .box-our-service .title p {
  padding-top: 20px;
}
section.home-sec-our {
  background: none;
  margin-top: 50px;
}
.hr-inside-box {
  display: none;
}
.box-isi-content {
  padding-bottom: 20px;
}
section.home-sec-4 .box-header {
  padding-top: 75px;
}
section.home-sec-4 .box-header .sub p {
  font-size: 25px;
  color: #333;
  font-weight: 700;
}
section.home-sec-4 .box-row-content {
  padding-top: 0px;
}
.box-content-inner {
  padding-top: 30px;
}
section.footer .section-box {
  padding-top: 40px;
}
section.footer .section-box .box-footer .menu {
  padding-top: 5px;
  padding-bottom: 20px;
}
section.footer .footer-bawah p.by {
  float: none;
}
section.about-sec-1 .box-container {
  padding: 75px 0;
}
section.about-sec-1 .box-container .box-content .sub p {
  font-size: 25px;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}
section.about-sec-2 .box-outer .box-left-1 .content,
section.about-sec-2 .box-outer .box-right-2 .content,
section.about-sec-3 .prelative.container {
  padding: 0 20px;
}
section.about-sec-2 .box-outer .box-left-1 .content .title p,
section.about-sec-2 .box-outer .box-right-2 .content .title p {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
section.about-sec-2 .box-outer .box-left-1 .content .isi p,
section.about-sec-2 .box-outer .box-right-2 .content .isi p {
  font-size: 13px;
  color: #333;
  line-height: 1.8;
}
section.about-sec-2 .box-outer .box-right-1 img,
section.about-sec-2 .box-outer .box-left-2 img {
  min-height: 0;
  height: auto;
}
section.about-sec-2 .box-outer .box-left-1,
section.about-sec-2 .box-outer .box-right-2 {
  min-height: 300px;
}
section.about-sec-3 .prelative.container .visi-misi {
  padding: 0;
}
section.about-sec-3 .prelative.container .visi-misi .content p {
  font-size: 16px;
}
section.about-sec-4 .head {
  padding: 50px 0;
}
section.about-sec-4 .head .sub p {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  color: #333;
}
section.about-sec-4 .box-pejabat .content-right .content p {
  font-size: 15px;
  color: #333;
  font-weight: 300;
}
section.about-sec-4 .box-pejabat {
  padding-bottom: 50px;
}
section.news-sec-1 {
  padding-top: 50px;
}
section.news-sec-1 .prelative.container .box-content .title p {
  text-align: center;
  font-size: 25px;
  color: #333;
  font-weight: 700;
}
section.news-sec-1 .col-md-60 {
  padding: 0;
}
section.news-sec-1 .prelative.container .box-content .content p {
  padding-top: 25px;
  font-size: 14px;
  color: #333;
  font-weight: 300;
}
section.news-sec-1 .prelative.container .box-content .content p b {
  font-size: 14px;
  color: #333;
  font-weight: 700;
}
.cover .text {
  width: 375px;
}
section.financial-sec-1 .prelative.container {
  padding-top: 50px;
}
section.financial-sec-1 .prelative.container .head-title .title p {
  font-size: 30px;
  color: #333;
  font-weight: 700;
}
section.financial-sec-1 .prelative.container .box-content .tanggal p {
  font-size: 13px;
  color: #333;
}
section.financial-sec-1 .prelative.container .box-content .title-content p {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
section.pilih-kategori .prelative.container .content {
  display: block;
}
section.pilih-kategori .prelative.container .facts,
section.pilih-kategori .prelative.container .finan,
section.pilih-kategori .prelative.container .high {
  padding: 0;
}
section.pilih-kategori .prelative.container .facts p,
section.pilih-kategori .prelative.container .finan p,
section.pilih-kategori .prelative.container .high p {
  font-size: 13px;
}
section.pilih-kategori .prelative.container .hr-fooot {
  margin: 0 5px;
}
.back.float-right {
  display: none;
}
section.what-sec-1 .prelative.container {
  margin-top: 50px;
}
section.what-sec-1 .prelative.container .content .title p {
  font-size: 30px;
  color: #333;
  font-weight: 700;
  padding-top: 5px;
}
section.what-sec-1 .prelative.container .content-utama {
  padding-top: 30px;
  padding-bottom: 30px;
}
section.what-sec-1 .prelative.container .content-utama .isi p {
  padding-top: 10px;
  font-size: 13px;
  color: #333;
  line-height: 1.6;
}
section.what-sec-2 {
  margin-top: 0;
}
section.what-sec-2 .bawah-gambar {
  padding-top: 30px;
}
section.what-sec-2 .box-content {
  padding-top: 30px;
}
section.what-sec-2 .bawah-gambar p {
  font-size: 12px;
  color: #333;
  line-height: 1.2;
  padding-bottom: 20px;
}
section.what-sec-2 .box-content {
  padding-top: 10px;
}
section.what-sec-2 .box-content {
  padding-bottom: 20px;
}
section.what-sec-2 .prelative.container {
  padding-bottom: 30px;
}
section.financial-sec-1 .prelative.container .box-content {
  padding-top: 35px;
}
section.news-sec-2 .prelative.container .box-content .title-content p {
  font-size: 17px;
  font-weight: 700;
  color: #333;
}
section.career-sec-1 .prelative.container .content {
  padding-top: 40px;
}
section.career-sec-1 .prelative.container .content h5 {
  font-size: 13px;
  font-weight: 700;
}
section.career-sec-1 .prelative.container .content h3 {
  font-size: 22px;
  font-weight: 700;
  padding: 15px 0;
  line-height: 1.2;
}
section.career-sec-1 .prelative.container .content p {
  font-size: 13px;
}
section.career-sec-1 .row.w-100 {
  margin: 0 auto !important;
}
section.career-sec-1 .row.w-100 .col-md-35 {
  padding: 0;
}
section.career-sec-1 {
  background: url(../images/career-sec-1.jpg);
  min-height: 340px;
  background-size: cover;
}
section.career-sec-2 {
  padding-top: 40px;
}
section.career-sec-2 .prelative.container .title-head .avail {
  padding-bottom: 0px;
}
.hr-career {
  margin-top: 20px;
}
section.career-sec-2 .prelative.container .title-pos p {
  font-size: 25px;
  font-weight: 700;
  color: #333;
}
section.career-sec-2 .prelative.container .title-pos {
  padding-bottom: 10px;
}
section.career-sec-2 .prelative.container .desc p {
  font-size: 13px;
  color: #333;
}
section.career-sec-2 .prelative.container .desc,
section.career-sec-2 .prelative.container .work {
  padding-bottom: 15px;
}
section.career-sec-2 .prelative.container .req ul {
  padding-top: 10px;
}
section.career-sec-2 .prelative.container .req ul li {
  font-size: 13px;
  color: #333;
  padding-top: 5px;
}
section.career-sec-2 .row.w-100.pb-5 {
  padding-bottom: 10px !important;
}
section.career-sec-2 .row.w-100.pb-5 {
  margin: 0 auto;
}
section.career-sec-2 .row.w-100.pb-5 .col-md-20 {
  padding: 0;
}
section.contact-sec-1 .prelative.container {
  padding-top: 50px;
}
section.contact-sec-1 .prelative.container .content .lets p {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
section.contact-sec-1 .prelative.container .content .title p {
  font-size: 25px;
  color: #333;
  font-weight: 700;
  line-height: 1;
}
section.contact-sec-1 .prelative.container .content .title {
  padding-top: 15px;
}
section.contact-sec-1 .prelative.container .content .fill {
  padding-top: 15px;
}
section.contact-sec-1 .row.w-100 {
  margin: 0 auto;
}
section.contact-sec-1 .row.w-100 .col-md-30 {
  padding: 0;
}
section.contact-sec-1 .prelative.container form label {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
section.contact-sec-1 img {
  display: none;
}
.bawah-section {
  display: none;
}
section.contact-sec-1 {
  background: #f2f3f7;
  height: 740px;
}
section.contact-sec-2 .prelative.container .head-title p {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}
section.contact-sec-2 .prelative.container .kartu-contact .kiri .content {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  padding: 35px;
}
section.contact-sec-2 .row.w-100 {
  margin: 0 auto;
}
section.contact-sec-2 .row.w-100 .col-md-60 {
  padding: 0;
}
section.contact-sec-2 .row.w-100 .col-md-30 {
  padding: 0;
}
section.fac-sec-1 {
  padding-top: 40px;
}
section.fac-sec-1 .prelative.container .content .title p {
  font-size: 33px;
  color: #333;
  font-weight: 700;
}
section.fac-sec-1 .prelative.container .content .isi p {
  font-size: 13px;
}
section.tabel {
  padding-top: 20px;
}
section.tabel tbody td,
section.tabel tbody td.bulan {
  font-size: 12px;
  color: #333;
}
.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 450px) {
  header.header-mobile.homepage_head {
    display: none;
  }
}
section.footer {
  background: #e7e8eb;
}
.kanan-sendiri {
  padding-top: 20px;
}
.kanan-sendiri .wa-kanan {
  display: inline-block;
}
.kanan-sendiri .en-in {
  display: inline-block;
  padding-left: 50px;
}
@media screen and (max-width: 1600px) {
  .cover {
    height: 550px;
  }
}
@media screen and (max-width: 450px) {
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs h3 {
    font-size: 23px;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs h5,
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs h3,
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs p {
    color: #363636;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators li.active {
    background: #000000;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs {
    padding: 25px 0;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text {
    position: relative;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators {
    margin: -80px 0 0;
  }
  section.connect .box-content p {
    font-size: 18px;
  }
  .fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-text .bxsl_tx_fcs h5 {
    font-size: 18px;
  }
  section.breadcrumb-insides .prelative.container nav .breadcrumb li a {
    font-size: 8px;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 5px;
    position: relative;
    top: 2px;
  }
  section.what-sec-1 .prelative.container .box-aneh {
    position: relative;
  }
  section.what-sec-1 .prelative.container .content .title p {
    font-size: 30px;
    color: #333;
    font-weight: 700;
  }
  section.connect .box-content img {
    width: 40px;
  }
  section.what-sec-1,
  section.what-sec-2 {
    background: none;
  }
  header.header-mobile.homepage_head .navbar-brand {
    max-width: 130px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
  button.navbar-toggler {
    border: none;
  }
  header.header-mobile.homepage_head nav.navbar.navbar-light {
    padding-top: 12px;
  }
  header.header-mobile.homepage_head ul.navbar-nav li {
    padding: 10px 15px;
  }
  ul.navbar-nav.mr-auto {
    border-top: 1px solid #ccc;
  }
  header.header-mobile.homepage_head ul.navbar-nav li {
    border-bottom: 1px solid #ccc;
  }
  header.header-mobile.homepage_head ul.navbar-nav li.nav-item.last {
    border: none;
  }
  header.header-mobile.homepage_head .navbar-brand img {
    width: 75%;
  }
}
section.about-sec-5 {
  border-bottom: 1px solid #b2b2b2;
}
section.about-sec-5 .title-head {
  padding-top: 100px;
}
section.about-sec-5 .title-head p {
  text-align: center;
  font-size: 16px;
  color: #000000;
}
section.about-sec-5 .subtitle-head {
  padding-top: 10px;
  padding-bottom: 50px;
}
section.about-sec-5 .subtitle-head p {
  text-align: center;
  font-size: 39px;
  font-weight: bold;
  color: #333333;
}
section.about-sec-5 .image {
  padding-bottom: 100px;
}
a.bahasa-mobile {
  font-weight: 400 !important;
  text-transform: none !important;
  font-size: 14px !important;
}
section.about-sec-6 {
  padding: 100px 0;
}
section.about-sec-6 .title-head p {
  text-align: center;
  font-size: 16px;
  color: #000000;
}
section.about-sec-6 .subtitle-head {
  padding-bottom: 40px;
}
section.about-sec-6 .subtitle-head p {
  text-align: center;
  font-size: 39px;
  font-weight: bold;
  color: #333333;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: ">";
  top: 2px;
  position: relative;
}
section.home-sec-our.d-block.d-sm-none {
  background: none !important;
}
@media screen and (max-width: 450px) {
  .cover {
    height: 200px;
  }
  .cover .text h2 {
    font-size: 28px;
    font-weight: 700;
  }
  section.about-sec-1 .box-container {
    padding: 60px 0 !important;
  }
  section.about-sec-1 .box-container .box-content .sub p {
    font-size: 22px !important;
  }
  section.about-sec-5 .title-head {
    padding-top: 50px;
  }
  section.about-sec-5 .subtitle-head p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333333;
  }
  .cover.whatwedo .text.ya {
    width: 462px !important;
  }
  section.what-sec-1 .prelative.container {
    margin-top: 45px !important;
  }
  section.what-sec-2 .box-content .title-utama {
    padding-top: 0px !important;
  }
  section.case-sec-1 .title {
    padding-top: 45px;
  }
  section.newssss-sec-1 .prelative.container {
    padding-top: 55px;
  }
  .cover.career {
    background: url(../images/hero-corpus-career.jpg);
    background-position: center center;
    background-size: cover;
    height: 162px;
    top: 30px;
  }
  section.career-sec-1 .prelative.container .content {
    max-width: 680px;
    padding-top: 50px !important;
  }
  section.contact-sec-1 .prelative.container {
    padding-top: 50px !important;
  }
}
/*# sourceMappingURL=styles.css.map */